* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: gilroy;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  position: relative;
  overflow: hidden;
}
#page {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(
    farthest-side ellipse at center,
    #494646,
    #3e3939,
    #433e3e,
    #312e2e,
    #262525,
    #151515
  );
}
#page1 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(
    farthest-side ellipse at 10% 0,
    hsl(281, 31%, 58%),
    /* Dark blue */ hsl(240, 37%, 29%),
    /* Darker blue */ hsl(240, 41%, 20%),
    /* Darkest blue */ hsl(240, 42%, 19%),
    /* Black blue */ hsl(231, 66%, 16%),
    /* Dark gray */ hsl(230, 66%, 10%) /* Black gray */
  );
}
#page2 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(
    farthest-side ellipse at 10% 0,
    hsl(240, 18%, 24%),
    hsl(240, 24%, 20%),
    hsl(240, 34%, 20%),
    hsl(227, 43%, 17%),
    hsl(240, 37%, 20%),
    hsl(240, 54%, 18%),
    hsl(240, 44%, 5%)
  );
}
#page3 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(
    farthest-side ellipse at 10% 0,
    hsl(240, 20%, 10%),
    hsl(240, 10%, 15%),
    hsl(240, 5%, 5%),
    hsl(220, 20%, 40%)
  );
}
canvas {
  position: relative;
  z-index: 9;
  max-width: 100vw;
  max-height: 100vh;
}
#loop {
  display: flex;
  position: absolute;
  top: 30%;
  height: 25%;
  width: 100%;
  font-size: 100px;
  white-space: nowrap;
  font-family: gilroy;
}
#loop > h1 {
  font-weight: 400;
  animation-name: anim;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#loop > h1 > span {
  -webkit-text-stroke: 1.2px #000;
  color: transparent;
  font-weight: 500;
}
@keyframes anim {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7%;
  width: 100%;
  position: fixed;
  z-index: 99;
  padding: 0px 30px;
}
#nav > h3 {
  font-family: gilroy;
  font-weight: 400;
  font-size: 22px;
}

/* Button Start */
:root {
  --bg-body: rgba(25, 25, 25, 1);
  --bg-body-gradient: radial-gradient(
    30% 90% ellipse at bottom center,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 100%
  );
  --bg-body-hover: rgba(33, 33, 33, 1);
  --bg-button: rgba(255, 255, 255, 0);
  --bg-button-hover: rgba(255, 255, 255, 0.05);
  --bg-button-active: rgba(255, 255, 255, 1);
  --bg-mask: rgba(255, 255, 255, 0.5);
  --bg-mask-hover: rgba(255, 255, 255, 1);
  --border-button: rgba(255, 255, 255, 0.2);
  --border-button-hover: rgba(255, 255, 255, 1);
  --color-button: rgba(255, 255, 255, 0.6);
  --color-button-hover: rgba(255, 255, 255, 1);
  --color-button-active: var(--body-bg);
  --font-button: "Varela Round", sans-serif;
  --shadow-button-hover: 0 0 0.3125rem rgba(255, 255, 255, 0.8);
  --transition-easing: cubic-bezier(0.19, 1, 0.22, 1);
}
body.hover {
  background-color: var(--bg-body-hover);
}

.button {
  background-color: var(--bg-button);
  border: 0.125rem solid var(--border-button);
  cursor: pointer;
  letter-spacing: 0.2125rem;
  line-height: 1;
  overflow: hidden;
  padding: 10px 1.875rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.3s var(--transition-easing),
    border 1s var(--transition-easing), color 0.6s var(--transition-easing);
  user-select: none;
}

.button a {
  color: var(--color-button);
  font-family: var(--font-button);
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  z-index: 2;
}

.button .mask {
  background-color: var(--bg-mask);
  height: 6.25rem;
  position: absolute;
  transform: translate3d(-120%, -3.125rem, 0) rotate3d(0, 0, 1, 45deg);
  transition: all 1.1s var(--transition-easing);
  width: 12.5rem;
  z-index: 1;
}

.button .shift {
  display: inline-block;
  transition: all 1.1s var(--transition-easing);
  vertical-align: text-top;
}

.button:hover {
  background-color: var(--bg-button-hover);
  border-color: var(--border-button-hover);
  box-shadow: var(--shadow-button-hover);
}

.button:hover a {
  color: var(--color-button-hover);
}

.button:hover .mask {
  background-color: var(--bg-mask-hover);
  transform: translate3d(120%, -6.25rem, 0) rotate3d(0, 0, 1, 90deg);
}

.button:hover .shift {
  transform: translateX(0.3125rem);
}

.button:active {
  background-color: var(--bg-button-active);
}

.button:active a {
  color: var(--color-button-active);
}
/* Button End */

#page > h3 {
  position: absolute;
  top: 55%;
  font-family: gilroy;
  font-weight: 400;
  color: #7c7c7c;
  left: 5%;
}
#page > h4 {
  position: absolute;
  top: 62%;
  left: 25%;
  font-family: gilroy;
  font-weight: 500;
}
#page1 > #right-text {
  position: absolute;
  top: 30%;
  left: 10%;
}
#page1 > #right-text > h3 {
  font-weight: 400;
  color: #7c7c7c;
}
#page1 > #right-text > h1 {
  line-height: 1.5;
  font-size: 50px;
}
#page1 > #left-text {
  position: absolute;
  top: 50%;
  right: 10%;
  text-align: end;
}
#page1 > #left-text > h1 {
  font-size: 50px;
  line-height: 1.5;
}
#page1 > #left-text > h3 {
  color: #7c7c7c;
  font-weight: 400;
}
#page2 > #text1 {
  position: absolute;
  top: 30%;
  left: 10%;
}
#page2 > #text1 > h3 {
  color: #7c7c7c;
  font-weight: 400;
}
#page2 > #text1 > h1 {
  font-size: 60px;
  line-height: 1.5;
}
#page2 > #text2 {
  position: absolute;
  top: 55%;
  right: 10%;
  text-align: end;
}
#page2 > #text2 > p {
  color: #7c7c7c;
  font-weight: 400;
}
#page3 > #text3 {
  position: absolute;
  top: 40%;
  right: 10%;
  text-align: end;
}
#page3 > #text3 > h3 {
  color: #7c7c7c;
  font-weight: 400;
}
#page3 > #text3 > h1 {
  font-size: 70px;
}

/* Footer start */
.main {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3)),url(background.jpg);
  background-position: center;
  background-image: radial-gradient(
    farthest-side ellipse at 10% 0,
    hsl(240, 29%, 34%),
    /* Light bluish color */ hsl(240, 43%, 27%),
    hsl(240, 20%, 20%),
    hsl(240, 10%, 15%),
    hsl(240, 13%, 16%),
    /* Slightly darker */ hsl(240, 13%, 14%),
    /* Even darker */ hsl(240, 6%, 7%),
    /* Darker */ hsl(240, 0%, 0%) /* Pure black */
  );
  background-size: cover;
  position: relative;
  padding: 0 5%;
  overflow-x: hidden;
}
.content {
  color: #fff;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.content h1 {
  font-size: 120px;
  line-height: 140px;
  font-weight: 600;
  opacity: 0;
}
.content p {
  line-height: 28px;
  opacity: 0;
}
.links {
  margin-top: 30px;
  opacity: 0;
}
.links button {
  width: 200px;
  padding: 15px 0;
  margin: 0 15px;
  text-align: center;
  transition: 0.5s;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  border: 2px solid #f66335;
  cursor: pointer;
  color: #ffffff;
  border-radius: 25px;
  background: transparent;
}
.large-header {
  overflow: hidden;
  pointer-events: none;
}
.anim {
  animation: slideUp 1s linear forwards;
  animation-delay: 1s;
}
@keyframes slideUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
p.anim {
  animation-delay: 2s;
}
.links.anim {
  animation-delay: 3s;
}
@media (min-aspect-ratio: 16/9) {
  .video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video {
    width: auto;
    height: 100%;
  }
}
.content button span {
  background: #f66335;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
.content button:hover span {
  width: 100%;
}
.content button:hover {
  border: 0;
}
footer {
  width: 100%;
  background: linear-gradient(to right, #00093c, #2d0b00);
  color: #fff;
  padding: 50px 0 30px;
  font-size: 18px;
  line-height: 20px;
}
.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.col {
  flex-basis: 25%;
  padding: 10px;
}
.col:nth-child(2),
.col:nth-child(3) {
  flex-basis: 15%;
}
.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}
.footer_email {
  width: fit-content;
  border-bottom: 1px solid #f66335;
  margin: 20px 0;
}
.col ul li {
  list-style: none;
  margin-bottom: 12px;
}
.col ul li a {
  text-decoration: none;
  color: #fff;
}
.col form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f66335;
  margin-bottom: 50px;
}
.col form .icon {
  font-size: 18px;
  margin-right: 10px;
}
.col form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}
.col form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
.col form button .icon_right {
  font-size: 16px;
  color: #ccc;
}
.col .social_icons .social_icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #fff;
  background: #f66335;
  margin-right: 3px;
  padding: 3px;
  cursor: pointer;
}
hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}
footer .copyright {
  text-align: center;
}
.bottom_line {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}
.bottom_line span {
  width: 15px;
  height: 100%;
  background: #f66335;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moveline 2s linear infinite;
}
@keyframes moveline {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}
/* Footer end */
